{%extends "WorkshopFrontendBundle:Layout:sidebarLayout.html.twig"%}

{% block content %}
<h1>This is Homepage</h1>
{%include "WorkshopFrontendBundle:Post:_list.html.twig" with {posts: posts}%}
{% endblock %}