{%extends "WorkshopBackendBundle:Layout:bootstrapLayout.html.twig"%}

{%block main%}
<form action="{{path('@index4POST')}}" method="POST" role="form">
  <div class="form-group">
    <label for="hello">hello</label>
    <input type="text" class="form-control" placeholder="something for hello" name="hello">
  </div>
  <div class="form-group">
    <label for="name">name</label>
    <input type="text" class="form-control" placeholder="name" name="name">
  </div>        
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{%endblock%}