{%extends "WorkshopBackendBundle:Layout:bootstrapLayout.html.twig"%}

{% block main %}
<h1>Post edit</h1>
    <img class="thumbnail" src="{{asset(entity.webPath)}}" />
    {{ form(edit_form) }}

<ul class="record_actions list list-inline">
    <li>
        <a href="{{ path('post') }}" class="btn btn-link">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
