{%extends "WorkshopBackendBundle:Layout:bootstrapLayout.html.twig"%}

{% block main %}
<h1>Post creation</h1>

{{ form(form) }}

<ul class="record_actions list list-inline">
    <li>
        <a href="{{ path('post') }}" class="btn btn-link">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
